main {
  width: 800px;
  margin: 200px auto 72px auto;
  padding: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(223, 136, 124);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid rgb(44, 44, 44);
  margin-top: -134px;
}

#todays-challenge {
  color: rgb(170, 96, 83);
  font-weight: bold;
  font-size: 50px;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

span {
  color: black;
}

a{
  color : rgb(73, 29, 50)
}